* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

/*navigation bar*/
.navbar-container {
	display: flex;
	justify-content: space-between;
	z-index: 10;
	background-color: #333;
	color: #fefefe;
	padding: 1rem 4rem 0;
	box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.4);
}

.nav-list {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.nav-list a {
	text-decoration: none;
	color: #fefefe;
	font-family: 'Open Sans', sans-serif;
}

.nav-list li {
	list-style: none;
	margin: 1rem;
}

.logo {
	width: 13rem;
}

h3 {
	margin-bottom: 0;
	font-size: 2.3em;
	letter-spacing: 12px;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
}

#logo p {
	font-size: 0.7em;
}

.nav-a {
	padding: 0.8rem;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.7);
}

.disclaimer-icon {
	padding: 0.8rem;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.7);
}

.disclaimer-icon:hover {
	border: none;
	color: #7d0013;
}

.nav-a:hover, .active {
	/* border-top: 2px solid #7d0013; */
	border-bottom: 2px solid #7d0013; 
}



.logo button {
	color: white;
	visibility: hidden;
}

.menu-button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	border: none;
	color: white;
	position: absolute;
	top: 30px;
	right: 20px;
}
#mobile-nav {
	display: none;
	height: 100%;
	width: 100vw;
	position: fixed;
	z-index: 1;
	text-align: center;
	background-color: #fff;
	padding-top: 10%;
}

#mobile-nav li {
	list-style: none;
	margin: 10% 0;
}

#mobile-nav a {
	text-decoration: none;
	color: #333;
	text-shadow: none;
}

.menu-close {
	font-size: 2rem;
	padding: 0;
	position: absolute;
	top: 20px;
	right: 20px;
	height: 16pxs;
}

.menu-close:hover {
	border: none;
}
/*end of navigation bar*/

/* main */
/* about */
.about-container {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.about-us {
	color: #333;
	margin: 5rem;
	font-family: 'Archivo Black', sans-serif;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.about-us-slogan {
	margin-bottom: 5rem;
	font-weight: bolder;
}

.about-us-text {
	margin: 0 auto;
	display: flex;
}

.text-components {
	flex-basis: 33.33%;
	margin: 0 1rem;
	text-align: justify;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
	padding: 25px;
}

.services-text {
	letter-spacing: 2px;
	margin: 0 20px;
}

.services-text i{
	margin: 5px 10px;
}

.text-components h4 {
	margin: 1.5rem 0 3rem 0;
	text-align: center;
	text-shadow: 1px 1px 2px #333;
	color: #7d0013;
}
/* end of about*/

/* meet the team */
/* title */
.title-container {
    width: 100vw;
    text-align: center;
	margin: 10% 0;
	padding: 0 5px;
}

.title-container h1 {
	font-family: 'Archivo Black', sans-serif;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
/* end title */
/* staff */
.staff-container {
    background-image: url(../images/team.jpg);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: [startcol] 33.33% [abedend] 33.33% [loidaend] 33.33% [carlosend];
    grid-template-rows: [rowstart] 100% [rowend];
    grid-template-areas: 
        "abed loida carlos";
}

.abed {
    grid-area: abed;
}

.click-here {
	visibility: hidden;
	font-size: 12px;
}

.loida {
    grid-area: loida;
}

.carlos {
    grid-area: carlos;
}

.description {
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);  
    backdrop-filter: blur(5px);
	border-radius: 10px;
	text-align: justify;
	padding: 0.5rem 1rem;
}

.staff {
	margin: 0 3rem;
	text-shadow: 2px 2px 2px #333;
}

.staff:hover .description {
    visibility: visible;
    color: white;
}

.name,
.label {
	text-align: center;
}
/* end of staff */
/* end of meet the team */

/* footer */
footer {
	width: 100vw;
	background-color: #333;
	color: white;
	bottom: 0%;
	/* margin-top: 50px; */
	/* height: 50px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

footer hr {
	width: 80vw;
	border-color: grey;
}

footer p {
	margin: 0;
	letter-spacing: 2px;
	width: 80vw;
	text-align: center;
}


























/*MEDIA QUERIES*/
/*mobile view*/
@media only screen and (max-width: 320px) {
	.body {
		width: 100vw;
		height: 100vh;
	}
	.navbar-container {
		padding: 0;
	}
	.nav-list {
		display: none;
	}
	.logo {
		margin: 1rem 0 0 1rem;
		width: 8rem;
	}
	.logo button {
		visibility: visible;
	}
	#logo h3 {
		margin-bottom: 0;
		font-size: 1.7em;
		letter-spacing: 8px;
		text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	}	
	#logo p {
		font-size: 0.5em;
	}
	.about-us {
		text-align: center;
		margin: 4rem 0;
	}
	.about-us-text {
		display: flex;
		flex-direction: column;
	}
	.staff-container {
		background-size: contain;
		display: flex;
		flex-direction: column;
	}

	.staff {
		height: auto;
		display: flex;
		margin: 0;
		/* height: 33.33%; */
		flex: 1 1 100%;
		align-items: center;
		justify-content: center;
	}

	.abed {
		margin: 10px 10px;
	}

	.carlos {
		margin: 0px;
	}
	.name {
		font-size: 15px;
	}

	.label {
		font-size: 10px;
	}

	.description {
		font-size: 10px;
		height: auto;
	}
	.text-components {
		margin: 10px;
	}
	.services-text {
		margin: 0;
		padding: 0;
		letter-spacing: 0;
		font-size: .9em;
	}
	footer {
		padding: 5px;
	}
	
	footer p {
		font-size: 10px;
		text-align: center;
	}
	.click-here {
		visibility: visible;
		text-align: center;
	}

}

/*tablet view*/
@media only screen and (min-width: 321px) and (max-width: 960px) {
	.navbar-container {
		padding: 0;
	}
	.nav-list {
		display: none;
	}
	.logo {
		margin: 1rem 0 0 2rem;
		width: 8rem;
	}
	.logo button {
		visibility: visible;
	}
	#logo h3 {
		margin-bottom: 0;
		font-size: 2em;
		letter-spacing: 8px;
		text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	}	
	#logo p {
		font-size: 0.6em;
	}
	.about-us {
		text-align: center;
		margin: 4rem 0;
	}
	.about-us-text {
		display: flex;
		flex-direction: column;
	}
	.text-components {
		margin: 10px;
	}

	.services-text {
		margin: 0;
		padding: 0;
		letter-spacing: 0;
	}
	footer {
		padding: 5px;
	}
	
	footer p {
		font-size: 15px;
		text-align: center;
	}
	.click-here {
		visibility: visible;
	}

}

/*desktop view*/
@media only screen and (min-width: 960px) {
	.body {
		width: 100vw;
		height: 100vh;
	}
	.video-container video {
		height: 100vh;
		width: auto;
	}

	.services-text {
		margin: 0;
		padding: 0;
		letter-spacing: 0;
	}


}