* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

/*navigation bar*/
.navbar-container {
	display: flex;
	justify-content: space-between;
	z-index: 10;
	background-color: #333;
	color: #fefefe;
	padding: 1rem 4rem 0;
	box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.4);
}

.nav-list {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.nav-list a {
	text-decoration: none;
	color: #fefefe;
	font-family: 'Open Sans', sans-serif;
}

.nav-list li {
	list-style: none;
	margin: 1rem;
}

.logo {
	width: 13rem;
}

h3 {
	margin-bottom: 0;
	font-size: 2.3em;
	letter-spacing: 12px;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
}

#logo p {
	font-size: 0.7em;
}

.nav-a {
	padding: 0.8rem;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.7);
}

.nav-a:hover, .active {
	/* border-top: 2px solid #7d0013; */
	border-bottom: 2px solid #7d0013; 
}

.disclaimer-icon {
	padding: 0.8rem;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.7);
}

.disclaimer-icon:hover {
	border: none;
	color: #7d0013;
}

.logo button {
	color: white;
	visibility: hidden;
}

.menu-button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	border: none;
	color: white;
	position: absolute;
	top: 30px;
	right: 20px;
}
#mobile-nav {
	display: none;
	height: 100%;
	width: 100vw;
	position: fixed;
	z-index: 300;
	text-align: center;
	background-color: #fff;
	padding-top: 10%;
}

#mobile-nav li {
	list-style: none;
	margin: 10% 0;
}

#mobile-nav a {
	text-decoration: none;
	color: #333;
	text-shadow: none;
}

.menu-close {
	font-size: 2rem;
	padding: 0;
	position: absolute;
	top: 20px;
	right: 20px;
	height: 16pxs;
}

.menu-close:hover {
	border: none;
}
/*end of navigation bar*/

/* background map */

.map-container {
    width: 100vw;
    height: 100vh;
	position: relative;
	padding-top: 5%;
}

iframe {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: grayscale(90%);
    z-index: -100;
}

.details {
    height: 80vh;
    position: relative;
    width: 40%;
    z-index: 100;
    top: 0;
    left: 0;
    margin-left: 2rem;
    padding: 0 2rem;
    color: black;
	text-shadow: 2px 2px 2px #000000;
	background-color: rgba(255,255,255, 0.8);
}

.details a {
    text-decoration: none;
    color: black;
    text-shadow: none;
}

.details p {
	font-size: 17px;
    margin: 0;
    color: black;
    text-shadow: none;
}

h1 {
    padding: 1rem 0;
}

.fab {
    padding: 0.3rem;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
}

#fb {
    color: white;
    background-color: darkblue;
}

#in {
    color: white;
    background-color: blue;
}

#lin {
    color: white;
    background-color: skyblue;
}

#yt {
    color: white;
    background-color: orangered;
}

h2 {
    margin-top: 2rem;
}
/* end of map*/

/* footer */
footer {
	width: 100vw;
	background-color: #333;
	color: white;
	bottom: 0%;
	/* margin-top: 50px; */
	/* height: 50px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

footer hr {
	width: 80vw;
	border-color: grey;
}

.disclaimer-text {
	margin: 0;
	letter-spacing: 2px;
	width: 80vw;
	text-align: center;
}



















/*MEDIA QUERIES*/
/*mobile view*/
@media only screen and (max-width: 320px) {
	.body {
        overflow-y: visible;
		width: 100vw;
		height: 100vh;
	}
	.navbar-container {
		padding: 0;
	}
	.nav-list {
		display: none;
	}
	.logo {
		margin: 1rem 0 0 1rem;
		width: 8rem;
	}
	.logo button {
		visibility: visible;
	}
	.menu-button {
		top: 20px;
	}
	h3 {
		margin-bottom: 0;
		font-size: 1em;
		letter-spacing: 8px;
		text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	}	
	p {
		font-size: 0.5em;
    }
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		text-align: center;
		padding-top: 10%;
    }

    .details {
        opacity: 0.5;;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    iframe {
        display: none;
    }
}

/*tablet view*/
@media only screen and (min-width: 321px) and (max-width: 960px) {
	.navbar-container {
		padding: 0;
	}
	.nav-list {
		display: none;
	}
	.logo {
		margin: 1rem 0 0 2rem;
		width: 8rem;
	}
	.logo button {
		visibility: visible;
	}
	h3 {
		margin-bottom: 0;
		font-size: 2em;
		letter-spacing: 8px;
		text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	}	
	p {
		font-size: 0.6em;
	}
	.about-us {
		text-align: center;
		margin: 4rem 0;
	}
	.about-us-text {
		display: flex;
		flex-direction: column;
    }
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		text-align: center;
		padding-top: 10%;
    }

    .details {
        opacity: 0.5;;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    iframe {
        display: none;
    }
}

/*desktop view*/
@media only screen and (min-width: 960px) {


}