* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

/*navigation bar*/
.navbar-container {
	display: flex;
	justify-content: space-between;
	z-index: 10;
	background-color: #333;
	color: #fefefe;
	padding: 1rem 4rem 0;
	box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.4);
}

.nav-list {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.nav-list a {
	text-decoration: none;
	color: #fefefe;
	font-family: 'Open Sans', sans-serif;
}

.nav-list li {
	list-style: none;
	margin: 1rem;
}

.logo {
	width: 13rem;
}

h3 {
	margin-bottom: 0;
	font-size: 2.3em;
	letter-spacing: 12px;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
}

.disclaimer-icon {
	padding: 0.8rem;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.7);
}

.disclaimer-icon:hover {
	border: none;
	color: #7d0013;
}

#logo p {
	font-size: 0.7em;
}

.nav-a {
	padding: 0.8rem;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.7);
}

.nav-a:hover, .active {
	/* border-top: 2px solid #7d0013; */
	border-bottom: 2px solid #7d0013; 
}

.logo button {
	color: white;
	visibility: hidden;
}

.menu-button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	border: none;
	color: white;
	position: absolute;
	top: 88%;
	right: 20px;
}
#mobile-nav {
	display: none;
	height: 100%;
	width: 100vw;
	position: fixed;
	z-index: 1;
	text-align: center;
	background-color: #fff;
	padding-top: 10%;
}

#mobile-nav li {
	list-style: none;
	margin: 10% 0;
}

#mobile-nav a {
	text-decoration: none;
	color: #333;
	text-shadow: none;
}

.menu-close {
	font-size: 2rem;
	padding: 0;
	position: absolute;
	top: 20px;
	right: 20px;
	height: 16pxs;
}

.menu-close:hover {
	border: none;
}
/*end of navigation bar*/

/* services */
.expertise-list {
	height: 85vh;
	width: 100vw;
	display: grid;
	grid-template-columns: [startcol] 50% [centercol] 50% [endcol];
	grid-template-rows: [startrow] 50% [centerrow] 50% [endrow];
	grid-template-areas: 
		"commercial residential"
		"commercial renovation";
}

.commercial {
	grid-area: commercial;
	background-image: url(../images/commercial.jpg);
}

.residential {
	grid-area: residential;
	background-image: url(../images/residential.jpg);
}

.renovation {
	background-image: url(../images/renovation.jpg);
	grid-area: renovation;
}

.expertise {
	background-size: cover;
	background-position: center center;
	filter: grayscale(100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.expertise:hover {
	filter: none;
	transition: 0.5s;
}

.expertise:hover .link-to {
	border: 2px solid white;
}

.link-to {
	text-align: center;
	margin: auto;
	color: white;
	padding: 1rem;
	font-weight: bolder;
	transition: 1s;
}

.expertise .ex-a {
	text-decoration: none;
}
/* services end */

/* residential projects */
.grid-container {
	overflow: hidden;
	position: relative;
	width: 95vw;
	height: 100vh;
	display: grid;
	grid-template-columns: [startcol] 25% [col1] 25% [col2] 25% [col3] 25% [colend];
	grid-template-rows: [startrow] 25% [row1] 25% [row2] 25% [row3] 25% [rowend];
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 2rem auto 3rem;
}

.residential-container {
	grid-template-areas: 
		"pd1 pd2 house1 house1"
		"pd1 pd2 house2 house3"
		"house4 house5 house5 house3"
		"house4 house5 house5 house6";
}

.project-title {
	grid-area: pd1;
}

.project-description {
	grid-area: pd2;
}

.res-text {
	width: 100%;
	height: 100%;
	background-color: white;
	border: #7d0013 solid 4px;
	padding: 1rem;
	text-align: center;
}

.eklavu {
	font-size: 2em;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.eklavu,
.ekek {
	position: relative;
	width: 100%;
	top: 50%;
	transform: translate(0, -50%)
}

.housecol1 {
	grid-area: house1;
	background-image: url(../images/house1.jpg);
}

.housecol2 {
	grid-area: house2;
	background-image: url(../images/house2.jpg);
}

.housecol3 {
	grid-area: house3;
	background-image: url(../images/house3.jpg);
}

.housecol4 {
	grid-area: house4;
	background-image: url(../images/house4.jpg);
}

.housecol5 {
	grid-area: house5;
	background-image: url(../images/house5.jpg);
}

.housecol6 {
	grid-area: house6;
	background-image: url(../images/house6.jpg);
}

.res-proj {
	background-size: cover;
	background-position: center center;
	filter: blur(1px);
	display: flex;
	justify-content: center;
}

.housename {
	position: relative;
	visibility: hidden;
	color: #333;
	background-color: white;
	opacity: 0.5;
	align-self: center;
	margin: 0 10px;
	text-align: center;
}

.res-proj:hover {
	filter: none;
}

.res-proj:hover .housename {
	visibility: visible;
}

/* end of residential projects */

/* commercial projects */
.commercial-container {
	grid-template-areas: 
		"pdc1 pdc2 bldg1 bldg2"
		"pdc1 pdc2 bldg1 bldg3"
		"bldg4 bldg4 bldg1 bldg5"
		"bldg6 bldg6 bldg6 bldg5";
}

.project-title-com {
	grid-area: pdc1;
}

.project-description-com {
	grid-area: pdc2;
}

.bldg1 {
	grid-area: bldg1;
	background-image: url(../images/bldg1.jpg);
}

.bldg2 {
	grid-area: bldg2;
	background-image: url(../images/bldg2.jpg);
}

.bldg3 {
	grid-area: bldg3;
	background-image: url(../images/bldg3.jpg);
}

.bldg4 {
	grid-area: bldg4;
	background-image: url(../images/bldg4.jpg);
}

.bldg5 {
	grid-area: bldg5;
	background-image: url(../images/bldg5.jpg);
}

.bldg6 {
	grid-area: bldg6;
	background-image: url(../images/bldg6.jpg);
}

/* end of commercial projects */

/* renovation projects */
.renovation-container {
	grid-template-areas: 
		"pdc1 pdc2 reno3 reno3"
		"pdc1 pdc2 reno1 reno5"
		"reno2 reno6 reno1 reno5"
		"reno2 reno6 reno4 reno4";
}

.project-title-ren {
	grid-area: pdc1;
}

.project-description-ren {
	grid-area: pdc2;
}

.reno1 {
	grid-area: reno1;
	background-image: url(../images/reno1.jpg);
}

.reno2 {
	grid-area: reno2;
	background-image: url(../images/reno2.jpg);
}

.reno3 {
	grid-area: reno3;
	background-image: url(../images/reno3.jpg);
}

.reno4 {
	grid-area: reno4;
	background-image: url(../images/reno4.jpg);
}

.reno5 {
	grid-area: reno5;
	background-image: url(../images/reno5.jpg);
}

.reno6 {
	grid-area: reno6;
	background-image: url(../images/reno6.jpg);
}

/* end of renovation projects */

/* footer */
footer {
	width: 100vw;
	background-color: #333;
	color: white;
	bottom: 0%;
	/* margin-top: 50px; */
	/* height: 50px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

footer hr {
	width: 80vw;
	border-color: grey;
}

footer p {
	margin: 0;
	letter-spacing: 2px;
	width: 80vw;
}
























/*MEDIA QUERIES*/
/*mobile view*/
@media only screen and (max-width: 320px) {
	.body {
		width: 100vw;
		height: 100vh;
		overflow-x: hidden;
	}
	.navbar-container {
		padding: 0;
	}
	.nav-list {
		display: none;
	}
	.logo {
		margin: 1rem 0 0 1rem;
		width: 8rem;
	}
	.logo button {
		visibility: visible;
	}
	h3 {
		margin-bottom: 0;
		font-size: 1.5em;
		letter-spacing: 8px;
		text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	}	
	#logo p {
		font-size: 0.5em;
	}
	.grid-container {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.res-proj {
		width: 100vw;
		height: 100%;
	}
	.res-text {
		border: none;
		height: auto;
	}
	.menu-button {
		top: 90%;
	}
	.link-to {
		font-size: 16px;
	}
	.housename {
		visibility: visible;
		
	}

}

/*tablet view*/
@media only screen and (min-width: 321px) and (max-width: 960px) {
	body {
		overflow-x: hidden;
	}

	.navbar-container {
		padding: 0;
	}
	.nav-list {
		display: none;
	}
	.logo {
		margin: 1rem 0 0 2rem;
		width: 8rem;
	}
	.logo button {
		visibility: visible;
	}
	h3 {
		margin-bottom: 0;
		font-size: 2em;
		letter-spacing: 8px;
		text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	}	
	#logo p {
		font-size: 0.6em;
	}
	.about-us {
		text-align: center;
		margin: 4rem 0;
	}
	.about-us-text {
		display: flex;
		flex-direction: column;
	}

	.eklavu {
		font-size: 1.3rem;
	}

	.ekek {
		font-size: 1rem;
	}
	.menu-button {
		top: 90%;
	}
	.housename {
		visibility: visible;
	}
}

/*desktop view*/
@media only screen and (min-width: 960px) {

}