* {
	padding: 0;
	margin: 0;
	box-sizing: 0;

}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

/* video */
.video-container {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -10;
	overflow: hidden;
}

video {
	width: 100%;
	position: absolute;
	/* filter: grayscale(10	0%); */
}

.video-container:after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
	background: linear-gradient(1deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%);
}
/*end of video*/

/*navigation bar*/
.navbar-container {
	display: flex;
	justify-content: space-between;
	z-index: 10;
	color: #fefefe;
	padding: 1rem 4rem 0;
	box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.4);
}

.nav-list {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.nav-list a {
	text-decoration: none;
	color: #fefefe;
	font-family: 'Open Sans', sans-serif;
}

.nav-list li {
	list-style: none;
	margin: 1rem;
}

.logo {
	width: 13rem;
}

h3 {
	margin-bottom: 0;
	font-size: 2.3em;
	letter-spacing: 12px;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
}

p {
	font-size: 0.7em;
}

.nav-a {
	padding: 0.8rem;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.7);
}

.nav-a:hover, .active {
	/* border-top: 2px solid #7d0013; */
	border-bottom: 2px solid #7d0013; 
}

.disclaimer-icon {
	padding: 0.8rem;
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.7);
}

.disclaimer-icon:hover {
	border: none;
	color: #7d0013;
}

.logo button {
	visibility: hidden;
}

.menu-button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	border: none;
	color: white;
	position: absolute;
	top: 30px;
	right: 20px;
}
#mobile-nav {
	display: none;
	height: 100%;
	width: 100vw;
	position: fixed;
	z-index: 1;
	text-align: center;
	background-color: #fff;
	padding-top: 10%;
}

#mobile-nav li {
	list-style: none;
	margin: 10% 0;
}

#mobile-nav a {
	text-decoration: none;
	color: #333;
	text-shadow: none;
}

.menu-close {
	font-size: 2rem;
	padding: 0;
	position: absolute;
	top: 20px;
	right: 20px;
	height: 16pxs;
}

.menu-close:hover {
	border: none;
}
/*end of navigation bar*/

/*slogan*/
.slogan {
	margin-left: 4rem;
	width: 80vw;
	position: absolute;
	top: 60%;
	color: #fefefe;
	font-family: 'Open Sans', sans-serif;		
	text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	color: white;
	font-size: 3em;
}
/*end of slogan*/























/*MEDIA QUERIES*/
/*mobile view*/
@media only screen and (max-width: 320px) {
	.body {
		width: 100vw;
		height: 100vh;
	}
	.video-container video {
		height: 100vh;
		width: auto;
	}
	.slogan{
		top: 50%;
		font-size: 2em;
		transform: translate(0, -50%);
		margin: 0;
		width: 100%;
		padding: 0 2rem;
		text-align: center;
	}
	.navbar-container {
		padding: 0;
	}
	.nav-list {
		display: none;
	}
	.logo {
		margin: 1rem 0 0 1rem;
		width: 8rem;
	}
	.logo button {
		visibility: visible;
	}
	h3 {
		margin-bottom: 0;
		font-size: 1em;
		letter-spacing: 8px;
		text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	}	
	p {
		font-size: 0.5em;
	}
}

/*tablet view*/
@media only screen and (min-width: 321px) and (max-width: 960px) {
	.body {
		width: 100vw;
		height: 100vh;
	}
	.video-container video {
		height: 100vh;
		width: auto;
	}
	.slogan{
		top: 50%;
		font-size: 2em;
		transform: translate(0, -50%);
		margin: 0;
		width: 100%;
		padding: 0 2rem;
		text-align: center;
	}
	.navbar-container {
		padding: 0;
	}
	.nav-list {
		display: none;
	}
	.logo {
		margin: 1rem 0 0 2rem;
		width: 8rem;
	}
	.logo button {
		visibility: visible;
	}
	h3 {
		margin-bottom: 0;
		font-size: 2em;
		letter-spacing: 8px;
		text-shadow: 2px 2px 0.7px rgba(3,3,3,0.8);
	}	
	p {
		font-size: 0.6em;
	}
}

/*desktop view*/
@media only screen and (min-width: 960px) {
	.body {
		width: 100vw;
		height: 100vh;
	}
	.video-container video {
		/*height: 100vh;*/
		width: auto;
	}
	.video {
		width: 100%;
	}

}