* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	width: 100vw;
	height: 100vh;
	background-image: url(../images/spiral.jpg);
	background-size: cover;
	background-position: center center;
	text-align: center;
	margin: auto auto;
	position: absolute;
}

.area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-weight: bolder;
	font-size: 5em;
	letter-spacing: 0.4em;
	text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

p {
	letter-spacing: 0.6rem;
	text-align: center;
}

span {
	width: auto;
}

span:before {
	content: 'spaces';
	animation: animate infinite 8s;
}
@keyframes animate {
	0% {
		content: 'spaces';
	}
	25% {
		content: 'dreams';
	}
	50% {
		content: 'lives';
	}
	75% {
		content: 'generation';
	}
	100% {
		content: 'society';
	}
}

.learn-more {
	position: absolute;
	width: 100vw;
	text-align: center;
	bottom: 5%;
}

.text {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, 0);
}

.learn-more a {
	text-decoration: none;
	color: #333;
}










/*MEDIA QUERIES*/
/*mobile view*/
@media only screen and (max-width: 320px) {
	h1 {
		font-size: 3em;
	}
	p {
		font-size: 0.6em;
	}
	h3 {
		font-size: 1em;
	}
}

/*tablet view*/
@media only screen and (min-width: 321px) and (max-width: 767px) {
	h1 {
		font-size: 3em;
	}
	p {
		font-size: 0.6em;
	}
	h3 {
		font-size: 1em;
	}
}

/*desktop view*/
@media only screen and (min-width: 768px) {
}
